[submodule "third_party/sdl/SDL"]
	path = third_party/sdl/SDL
	url = https://github.com/libsdl-org/SDL.git
	shallow = true
[submodule "third_party/sdl/SDL_image"]
	path = third_party/sdl/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	shallow = true
[submodule "third_party/sdl/SDL_ttf"]
	path = third_party/sdl/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	shallow = true
[submodule "third_party/sdl/SDL_mixer"]
	path = third_party/sdl/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	shallow = true
