# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
      
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          cmake \
          ninja-build \
          pkg-config \
          gnome-desktop-testing \
          libasound2-dev \
          libpulse-dev \
          libaudio-dev \
          libfribidi-dev \
          libjack-dev \
          libsndio-dev \
          libx11-dev \
          libxext-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxfixes-dev \
          libxi-dev \
          libxss-dev \
          libxtst-dev \
          libxkbcommon-dev \
          libdrm-dev \
          libgbm-dev \
          libgl1-mesa-dev \
          libgles2-mesa-dev \
          libegl1-mesa-dev \
          libdbus-1-dev \
          libibus-1.0-dev \
          libudev-dev \
          libthai-dev \
          libpipewire-0.3-dev \
          libwayland-dev \
          libdecor-0-dev \
          liburing-dev \
          libharfbuzz-dev
           
    - name: Configure
      run: cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release --preset github-ci-linux
      
    - name: Build
      run: cmake --build build --parallel
      
    - name: Test
      run: | 
        ctest --test-dir build --output-on-failure

  windows:
    runs-on: windows-latest

    env:
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg
      VCPKG_BINARY_SOURCES: "clear;files,${{ github.workspace }}/vcpkg-binary-cache,readwrite"

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Configure
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release --preset github-ci-win
      
    - name: Build
      run: cmake --build build --config Release --parallel
      
    - name: Test
      run: |
        ctest --test-dir build -C Release --output-on-failure

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
      
    - name: Install dependencies
      run: |
        brew update
        brew install cmake harfbuzz freetype pkg-config
        
    - name: Configure
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release --preset github-ci-mac
      
    - name: Build
      run: cmake --build build --parallel
      
    - name: Test
      run: ctest --test-dir build --output-on-failure
